@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
input::placeholder {
  font: 12px sans-serif;
  }

.layout{
    @apply mx-[6%]
  }
  
  .content-container{
    @apply max-w-[1200px] mx-auto
  }
  .box{
    @apply border-2 rounded-md w-40 h-20 bg-slate-900 text-white flex justify-center items-center shadow-md cursor-pointer
  }
  small{
    color: #0E7490;
  }
  small::after{
    content: "*";
    color:red
  }
  
  #upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;   
  }
  
  .card_section {
    @apply bg-[url(./assets/YM_Background.webp)] bg-white  bg-top  bg-cover     bg-no-repeat relative after:content-[""] after:absolute after:bottom-0  after:w-full after:h-[40%] after:bg-gradient-to-t from-[hsla(0,0%,100%,1)]  to-[rgba(255,255,255,0)]
  }
  .profile {
    @apply bg-[url(./assets/footer_bg.png)] bg-[20%_100%] md:bg-[90%_150%] bg-no-repeat bg-contain ;
  }

  button[disabled]{
    @apply text-white bg-gray-300 rounded focus:outline-none
  }


  .sms-section{
    transform: translateY(1000px);
    transition: transform 0.5s ease;
   
  }
 .active-sms{
    transform: translateY(0);
    transition: transform 0.5s ease;
  }

  svg{
    width: 30rem;
    position: relative;
  }

  svg text.text-body{
    stroke: white;
    fill: white;
    animation:  2s both animate-stock infinite;
    font-family: Arial, Helvetica, sans-serif;
  }

  .loading svg text{
    font-size: 4rem;
    stroke-width: 2;
    letter-spacing: 5px;
  }
  .loading svg path{
    stroke: white;
    fill: white;
    transform:matrix(0.000086, -1, 1, 0.000086, -151.244174, 457.662391);
    animation:  2s both animate-stock infinite;
    transition: animation 2s ease-out;
  }










  @keyframes animate-stock{
    0%{
      fill: transparent;
      stroke: white;
      stroke-width: 3;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 32%;
    }
    50%{
      fill: transparent;
      stroke: white;
      stroke-width: 3;
     
    }
    80%{
      fill: transparent;
      stroke: white;
      stroke-width: 0;
      stroke-dashoffset: -25%;
      stroke-dasharray:  32% 0;
    }
    
  }